.square {
    height: 2em;
    line-height: 2em;
    width: 2em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;

    text-align: center;
    font-weight: 1000;
    font-family: Verdana;
    color: rgb(7, 38, 151);

    transition-duration: 0.2s;
}

.selected {
    box-shadow: 0px 0px 5px 4px rgb(24 77 179);
    z-index: 100;
}

.invalid {
    color: red;
}

.odd {
    border: 1px solid rgb(103, 129, 179);
    background-color: rgb(108, 177, 250);
}

.even {
    border: 1px solid rgb(177, 180, 188);
    background-color: rgb(215, 234, 255);
}
