.square {
    height: 2em;
    width: 2em;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.odd {
    border: 1px solid rgb(103, 129, 179);
    background-color: rgb(108, 177, 250);
}

.even {
    border: 1px solid rgb(177, 180, 188);
    background-color: rgb(215, 234, 255);
}